.wrapper {
  border-top: 1px #9a9a9a solid;
  padding: 1%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.question {
  color: var(--dark-green-hex);
  font-size: 1.4em;
}
.answer {
  width: 90%;
  font-size: 0.8em;
}
