.wrapper {
  padding: 3%;
}
.contentWrapper {
  padding: 10%;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}
.titleText {
  color: var(--beige-hex);
}
.textWrapper {
  height: 30%;
  width: 70%;
  margin-top: 4%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.numbersDiv {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--beige-hex);
}
.text {
  font-size: 0.8em;
  text-align: center;
}

@media (max-width: 843px) {
  .wrapper {
    padding: 0;
  }
  .contentWrapper {
    border-radius: 0;
    padding: 1em 0;
    background-size: 300%;
    background-position: 30% 0%;
  }
  .textWrapper {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: unset;
  }
  .text {
    font-size: 1em;
  }
}
