.hero {
  width: 100vw;
  padding: 5%;
  background-image: url(/greenblob.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.heroText {
  text-align: center;
  font-size: 3em;
  padding-bottom: 1.2em;
}
.heroSpan {
  font-size: 2em;
}
.hero p {
  text-align: center;
  color: grey;
  font-size: 1em;
  margin-bottom: 1vh;
}
.buttonContainer {
  display: flex;
  flex-direction: row;
  gap: 2em;
}
.cardsContainer {
  padding: 0 4em;
  height: 60vh;
}
.coloumnsWrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5em;
  height: 100%;
}
.cardsCol {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  gap: 2%;
}
.card {
  border-radius: 2em;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px, rgba(0, 0, 0, 0.3) 0 1px 3px -1px;

  font-size: 1.2em;
}
.cardMed {
  grid-row: 2 / span 6;
}
.cardSmall {
  grid-row: span 2;
}
.cardsLg {
  grid-row: 3 / span 7;
}
.cardsCenter {
  grid-row: 6 / span 4;
}
.overlay {
  color: var(--white-hex);
  font-size: 1.2em;
  padding: 1em;
  background-color: rgba(1, 1, 1, 0.5);
  height: 100%;
  width: 100%;
  border-radius: inherit;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.overlay span:nth-of-type(2) {
  font-size: 0.7em;
}
.cardContentWrapper {
  height: 100%;
  width: 100%;
  padding: 5%;
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cardMedBody {
  text-align: center;
  color: var(--beige-hex);
}
.cardMedBody p {
  font-size: 1em;
}
.cardMedFooter {
  width: 100%;
  border-radius: inherit;
  font-size: 0.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.6em 0.9em;
  background-color: #97a3a1b7;
  color: var(--beige-hex);
}
.smallcontentWrapper {
  color: var(--beige-hex);
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  padding: 3%;
  border-radius: inherit;
}
.smallcontentWrapper div {
  height: 100%;
}
.smallcontentWrapper div:nth-of-type(1) {
  width: 40%;
}
.smallcontentWrapper div:nth-of-type(2) {
  width: 60%;
  font-size: 1vw;
  display: flex;
  align-items: center;
}
.mobileTitle {
  display: none;
}
.mobileColoumn {
  display: none;
}
.mobileTitle h1 {
  font-size: 2.1em;
  color: var(--beige-hex);
}

@media (max-width: 843px) {
  .hero {
    padding: unset;
    background-size: cover;
  }
  .buttonContainer {
    gap: 2em;
    margin-bottom: 3em;
  }
  .mobileTitle {
    display: inline;
  }
  .cardsContainer {
    background-color: var(--dark-green-hex);
    display: flex;
    flex-direction: column;
    padding: 2em 1em 2em 1em;
    height: unset;
  }
  .coloumnsWrapper {
    display: none;
  }
  .mobileColoumn {
    display: flex;
    flex-direction: column;
    gap: 4em;
  }
  .overlay {
    justify-content: space-between;
    padding-top: 10em;
    font-size: 1em;
  }
  .overlay span:last-of-type {
    max-width: 80%;
    font-size: 0.85em;
  }
}
