.nav {
  position: fixed;
  bottom: 30px;
  z-index: 1000;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  width: 60vw;
  justify-content: space-evenly;
  border-radius: 40px;
  padding: 0.7em;
  background-color: #f2f4eac9;
  color: var(--dark-green-hex);
  transition: ease-in-out 400ms;
}
@media (max-width: 767px) {
  .nav {
    display: flex;
  }
}
