.nav {
  position: fixed;
  bottom: 30px;
  z-index: 1000;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  width: 60vw;
  justify-content: space-evenly;
  border-radius: 40px;
  padding: 0.7em;
  color: var(--dark-green-hex);
  transition: ease-in-out 400ms;
}
.blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  z-index: -1;
  background-color: #f2f4eac9;
  backdrop-filter: blur(2px) saturate(100%);
}
@media (max-width: 767px) {
  .nav {
    display: flex;
    width: 80vw;
    font-size: 0.9em;
  }
}
