.nav {
  display: grid;
  grid-template-columns: 0.5fr 3fr 0.5fr;
  place-items: center;
  height: 3em;
  border-bottom: #6e6e6e58 solid 1px;
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.629);
  backdrop-filter: blur(30px);
  z-index: 10;
  padding-left: 10px;
}
.navLinks {
  height: 100%;
  display: flex;
  place-items: center;
  width: 60%;
}
.linkContainer a:hover {
  color: var(--dark-green-hex);
}
.navLinks ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-evenly;
}
.logoText {
  font-size: 1.2em;
  letter-spacing: 5px;
  color: var(--dark-green-hex);
  white-space: nowrap;
}
.logoText:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.donateContainer {
  display: flex;
  place-items: center;
  background-color: var(--dark-green-hex);
  justify-content: center;
  width: 100%;
  transition: ease-in-out 250ms;
  color: var(--neon-green-hex);
  height: 100%;
  margin-left: 10px;
}
.donateContainer:hover {
  cursor: pointer;
  background-color: var(--neon-green-hex);
  color: var(--dark-green-hex);
}

.donate {
  letter-spacing: 4px;
  font-size: 1em;
}
.linkText {
  font-size: 0.8em;
}
.sheet {
  z-index: 1000;
}
.donateHeader {
  font-size: 2em;
  color: #c8f168;
}
.sheetDescription {
  margin-top: 10px;
}
.sheetContent {
  width: 100%;
  /* aspect-ratio: 3/4; */
  border-radius: 3px;
  margin-top: 1em;
  background: #272727;
  border-radius: 3px;
  display: grid;
}
.internationalInputs {
  outline: none;
  border: none;
  border-bottom: solid 2px #c8f168;
  padding: 5px;
  color: white;
  font-size: 0.7em;
  background: transparent;
}
.tabtitle {
  color: white;
  padding: 10px;
  font-size: 1.3em;
}
.internationalContent {
  padding: 1em;
  display: grid;
  grid-template-rows: repeat(6, auto);
  gap: 1.3em;
}
.internationalContent div:nth-of-type(2) {
  display: grid;
  gap: 1.3em;
}
.internationalContent div:nth-of-type(4) {
  display: flex;
  align-content: flex-end;
  gap: 10px;
}
.processDonation {
  border-radius: 3px;
  background: #043f2e;
  color: #c8f168;
  width: 100%;
  padding: 0.3em;
  transition: ease-out 300ms;
}
.processDonation:hover {
  background: #c8f168;
  color: #043f2e;
  transform: scale(1.03);
}
.dialogTitle {
  color: #c8f168;
}
@media (max-width: 2010px) {
  .sheetContent {
    font-size: 0.8em;
  }
  .donateHeader {
    font-size: 1.5em;
  }
  .sheetDescription {
    font-size: 0.9em;
  }
}
@media (max-width: 767px) {
  .navLinks {
    display: none !important;
  }
  .nav {
    display: flex;
    padding: 0 0 0 5%;
    justify-content: space-between;
  }
  .logoText {
    letter-spacing: 2px;
    font-size: 0.9em;
  }
  .donateContainer {
    width: 30%;
    font-size: 0.7em;
  }
  .sheet {
    width: 100vw;
  }
  .internationalInputs {
    max-width: 65%;
  }
  .donateHeader {
    font-size: 0.9em;
  }
  .sheetDescription {
    font-size: 0.75em;
    margin-top: 5px;
  }
  .tabtitle {
    font-size: 0.8em;
  }
}
