@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --neon-green-hex: #c8f168;
  --dark-green-hex: #043f2e;
  --beige-hex: #f2f4ea;
  --slate-hex: #e7e9ed;
  --white-hex: #ffffff;
  --greenish-hex: #d1dcda;
  --secondary-black-hex: #222222;
}

body {
  color: rgb(var(--secondary-black-hex));
  background: var(--white-hex);
}
